@page
@model Part4Model
@{
    ViewData["Title"] = "Part 4";
}


<div class="text-center">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <img src="/images/part3/icon.png" class="webstoreIcon" alt="icon" />
            <a class="navbar-brand" asp-area="" asp-page="/part4/part4">iWebstore</a>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/part4/part4">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/part4/Store">Store</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/part4/Delivery">Delivery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/part4/ContactUs">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/part4/Policies">Policies</a>
                    </li>
                </ul>
            </div>
            <a asp-page="/part4/Cart" asp-page-handler="load">
                <img src="/images/part3/cart.jpg" class="webstoreIcon">
            </a>
            <a asp-page="/part4/Login" asp-page-handler="load">
                <img src="/images/part4/user.png" style="width: 30px; height: 30px;">
            </a>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            <br />
            <h4 class="display-4">Welcome to iWebstore!</h4>
            <br />
            <br />
            <img src="/images/part3/computers.png" style="width: 400px; height: 232.85px;">
            <br />
            <br />
            <br />
            <h4>We sell prebuilt and customizable PCs.</h4>
            <br />
            <h4>We also have a range of individual components for sale.</h4>
            <br />
            <h4><a class="nav-link text-dark" asp-area="" asp-page="/part4/Store">Click here to view our catalog!</a></h4>
            <br />
        </main>
    </div>

    <div class="border-top webstoreFooter">
        <br />
        &copy; 2021 - iWebstore. All rights reserved.
        <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a asp-area="" asp-page="/part4/ContactUs" class="text-muted">Contact Us</a>
        |
        <a asp-area="" asp-page="/part4/Delivery" class="text-muted">Delivery</a>
        |
        <a asp-area="" asp-page="/part4/Policies" class="text-muted">Policies</a>
    </div>
</div>
