@page
@model TMA3A.Pages.part4.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <img src="/images/part3/icon.png" class="webstoreIcon" alt="icon" />
            <a class="navbar-brand" asp-area="" asp-page="/part4/part4">iWebstore</a>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/part4/part4">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/part4/Store">Store</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/part4/Delivery">Delivery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/part4/ContactUs">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/part4/Policies">Policies</a>
                    </li>
                </ul>
            </div>
            <a asp-page="/part4/Cart" asp-page-handler="load">
                <img src="/images/part3/cart.jpg" class="webstoreIcon">
            </a>
            <a asp-page="/part4/Login" asp-page-handler="load">
                <img src="/images/part4/user.png" style="width: 30px; height: 30px;">
            </a>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            <br />
            <h4 class="display-4">Register</h4>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form method="post">
                        <hr />
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                    <br />
                    <span class="text-danger">@ViewData["ErrorMessage"]</span>
                    <span class="text-success">@ViewData["SuccessMessage"]</span>
                </div>
            </div>

        </main>
    </div>

    <div class="border-top webstoreFooter">
        <br />
        &copy; 2021 - iWebstore. All rights reserved.
        <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a asp-area="" asp-page="/part4/ContactUs" class="text-muted">Contact Us</a>
        |
        <a asp-area="" asp-page="/part4/Delivery" class="text-muted">Delivery</a>
        |
        <a asp-area="" asp-page="/part4/Policies" class="text-muted">Policies</a>
    </div>
</div>
