@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">Welcome</h1>
    <br />
    <br />
    <p>Part 1: Cookie Tracker</p>
    <p>Part 2: Slideshow</p>
    <p>Part 3: iWebstore (beta)</p>
    <p>Part 4: iWebstore (2.0)</p>
    <br />
    <div class="boxed">
        <a>Database features might not work due to the lack of a SQL server</a>
    </div>
    <br />

</div>
