@page
@model Part2Model
@{
    ViewData["Title"] = "Part 2";
}


<div class="text-center">
    <h1 class="display-4">Slideshow</h1>
</div>
<br />
<div class="text-center">
    <div>
        <input class='text-center' id="startButton" onclick="changeBtnTxt('startButton'); runSlideshow();" type="button" value="Start" />
    </div>
    <br />
    <div id="slideshow_container">
        <img id="img_id" src="@ViewData["ImgLink"]"/>
        <p id ="caption_id"class="display-8">@ViewData["Caption"]</p>
    </div>
    <br />
    <div>
        <input class='text-center' id="bkwdOrderButton" type="button" value="Backward Order" />
        <input class='text-center' id="orderButton" onclick="changeBtnTxt('orderButton','bkwdOrderButton','fwdOrderButton')" type="button" value="Sequential" />
        <input class='text-center' id="fwdOrderButton" type="button" value="Forward Order" />
    </div>
    <br />
    <br />
</div>

<script type="text/javascript">
    var picInterval;
    var currPicIndex = 0;
    var totalPics = 20;
    var bkwdOrFwd = 1;
    var tempIndex = 0;
    var startStopText = document.getElementById('startButton');
    var img_placeholder = document.getElementById('img_id');
    var cap_placeholder = document.getElementById('caption_id');
    var backwardOrder = document.getElementById("bkwdOrderButton");
    var forwardOrder = document.getElementById("fwdOrderButton");

        function runSlideshow() {

            var arr1 = @Html.Raw(Json.Serialize(Model.ImageArr));
            var arr2 = @Html.Raw(Json.Serialize(Model.CaptionArr));

            if (startStopText.value == "Stop") {

                img_placeholder.src = arr1[currPicIndex];
                cap_placeholder.innerHTML = arr2[currPicIndex];
                nextPic();
                picInterval = window.setInterval(function () {
                    img_placeholder.src = arr1[currPicIndex];
                    cap_placeholder.innerHTML = arr2[currPicIndex];
                   nextPic();
                }, 3000);
            }
            else {
                clearInterval(picInterval);
            }
        }

        function nextPic() {
            var orderText = document.getElementById('orderButton');
            if (orderText.value != "Sequential") {
                currPicIndex = Math.floor(Math.random() * totalPics);
            } else {
                currPicIndex = (currPicIndex + bkwdOrFwd) % totalPics;
                if (currPicIndex < 0) {
                    currPicIndex = totalPics - 1;
                }
            }
        }

        backwardOrder.addEventListener("click", function () {
            bkwdOrFwd = -1;
        }, false);
        forwardOrder.addEventListener("click", function () {
            bkwdOrFwd = 1;
        }, false);
</script>

